body {
  background-color: rgba(188, 225, 250, 0.563);
  font-family: helvetica;
}
header {
  text-align: center;
}
main {
  text-align: center;
}
h1 {
  margin: 20px 0px 5px 0px;
  padding: 30px 0px 0px 30px;
  color: #2592eb;
  font-weight: 600;
  font-size: 45px;
  text-align: left;
}
h2 {
  margin: 0;
  color: #344261;
  font-weight: 90;
  font-size: 45px;
}
h3 {
  margin: 0;
  color: #344261;
  font-weight: 500;
  font-size: 18px;
}
footer {
  text-align: center;
  color: black;
  font-size: 13px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
p {
  color: #344261;
  font-weight: 500;
  font-size: 20px;
}
main {
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 0px 0px;
  box-shadow: -4px 10px 121px -30px rgba(172, 172, 172, 0.418);
  margin: 25px;
}
.flex-container {
  display: flex;
}
.date-time {
  text-align: right;
  padding: 30px 30px 0px 0px;
}
.five-day-forecast {
  background-color: white;
  margin: 45px;
}
.humidity {
  align-items: left;
}
.humind {
  padding: 0px 10px 50px 10px;
}
.weather-app {
  max-width: 800px;
  margin: 45px auto;
  padding: 0px 30px 30px 30px;
  background-color: rgb(239, 247, 249);
  box-shadow: -4px 10px 121px -30px rgba(10, 10, 10, 0.418);
  border-radius: 16px;
}
.search-form {
  font-family: helvetica;
}
.search-form-input {
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  box-shadow: -4px 10px 121px -30px rgba(10, 10, 10, 0.418);
  border-radius: 10px;
  border: none;
  padding: 18px;
  width: 80%;
  margin: 40px 5px 0px 5px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.search-form-button {
  font-size: 17px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 92, 92);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  width: 100px;
  padding: 18px;
  margin: 20px 10px;
}
.sunshine {
  font-size: 100px;
}
.temperature {
  margin: 0;
  color: #344261;
  font-weight: 500;
  font-size: 100px;
}
.f {
  margin: 0;
  color: #344261;
  font-weight: 500;
  font-size: 50px;
}
